
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .login-form {
            width: 360px;
            margin: 50px auto;
            padding: 30px 0;
        }
        .login-form form {
            color: #9e9e9e;
            border-radius: 10px;
            margin-bottom: 15px;
            background: #fff;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
            padding: 40px;
        }
        .login-form h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .form-control {
            border-radius: 25px;
        }
        .btn {
            border-radius: 25px;
            padding: 10px 20px;
            font-weight: bold;
        }
        .btn-primary {
            background-color: #6c63ff;
            border-color: #6c63ff;
        }
        .btn-primary:hover {
            background-color: #5248cc;
            border-color: #5248cc;
        }
        .form-control:focus {
            box-shadow: none;
        }

        .Options{

            text-align:center;
            margin-top:30px;
            margin-left:200px;
        }

        .log{
            text-align:center;
            margin-bottom:10px;
            margin-right:200px;

        }

    </style>
</head>
<body>



<div class="login-form">
    <form action="#" method="post">
{% csrf_token %}
        <h2>Login</h2>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>

        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}

        <div class="Options">
            <a href = "/signup">Signup</a>
        </div>
        
        <div class="log">
            <a href = "/logout">Logout</a>
        </div>

    </form>
</div>





    {% comment %} <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form> {% endcomment %}
 
